.container-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 15vh;
  max-height: 15vh;
}

.patomalo-nav{
  min-height: 5vh;
  max-height: 5vh;
}

.titulo-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.botones-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
}

.boton-nav{
  margin-left: 10px;
  margin-right: 10px;
}
